* {
    box-sizing: border-box;
    text-align: center;
    }
body {
    background: #ccc;
}
#header {
      
      background: white;
      color: #333;
      padding: 20px;
      margin-bottom: 10px;
  }
#nav {
      background: white;
      color: #333;
      padding: 20px;
      margin-bottom: 20px;
  }
#section {
      float: left;
      background: white;
      color: #333;
      padding: 20px;
      height:300px;
      width: 54%;
      margin-bottom: 10px;
      z-index: 1;
     

  }
#article { 
      color: white;
      background: #ccc;
      padding: 20px;
      margin-top: 20px;
       
    }
#head {
      background: white;
      color: #333;
      padding: 10px;
      margin-top: 10px;
  }
#paragraph {
    background: white;
    color: #333;
    padding: 10px;
    margin-top: 10px;
    
  }
#aside {
      background: white;
      color: #333;
      padding: 20px;
      height:300px;
      width: 45%;
      margin-bottom: 10px;
      float: right;
      
      
  }
#footer {
    background: white;
    color: #333;
    padding: 20px;
    margin-bottom: 10px;
    clear: both;
  }